header {
  height: 67px;

  nav {
    position: fixed;
    z-index: 1;
    background-color: #000000;
    width: 100%;

    ul {
      display: flex;
      align-items: center;
      margin-bottom: 0;

      li {
        a {
          color: white;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none;
          padding: 0 1em;
          font-family: 'Open Sans', sans-serif;
          font-size: 15px;
        }

        img {
          width: 235px;
          padding: 8px 0;
        }
      }
    }
  }
}
